.container {
    max-height: 280px;
    display: grid;
    user-select: none;
    overflow-y: auto;
    margin-top: 10px;
}
.container > div {
    flex: 0 0 calc(50% - 10px); /* Make each Card take up 50% of the width, minus the gap */
    box-sizing: border-box; /* Ensure padding and border are included in the width calculation */
  }