.container {
    max-height: 255px;
    display: grid;
    user-select: none;
    overflow-y: auto;
    /* margin-top: 10px; */
    margin-left: 5px;
    margin-right: 15px;
}
.container > div {
    flex: 0 0 calc(50% - 10px); /* Make each Card take up 50% of the width, minus the gap */
    box-sizing: border-box; /* Ensure padding and border are included in the width calculation */
  }

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bordertop);
  border-radius: 9px;
  opacity: .7;
}

::-webkit-scrollbar-thumb {
  background: var(--borderbtm);
  border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}