.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 40px; /* Space between cards */
}
.container > div {
    flex: 0 0 calc(50% - 10px); /* Make each Card take up 50% of the width, minus the gap */
    box-sizing: border-box; /* Ensure padding and border are included in the width calculation */
  }