.card {
    width: 38px;
    height: 35px;

    border: 3.5px solid;

    border-top-color: var(--bordertop);
    border-left-color: var(--bordertop);

    border-bottom-color: var(--borderbtm);
    border-right-color: var(--borderbtm);

    overflow: hidden;
    position: relative;

    margin: 4px;
}

.card:hover .image{
    opacity: 0.3;
}

.image {
    width:35px;
    height:35px;
    transition: .5s ease;
}

.card:active {
    border-top-color: var(--borderbtm);
    border-left-color: var(--borderbtm);

    border-bottom-color: var(--bordertop);
    border-right-color: var(--bordertop);
}