.cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card{
    width: 38px;
    height: 35px;

    border: 3.5px solid;

    border-top-color: var(--bordertop);
    border-left-color: var(--bordertop);

    border-bottom-color: var(--borderbtm);
    border-right-color: var(--borderbtm);

    position: relative;

    margin: 4px;

    overflow: hidden;
}

.card:hover .image{
    width:250%;
    height:250%;
    margin-left: -12px;
    margin-top: -12px;
}

.image {
    transition: .5s ease;
    width: 200%;
    height: 200%;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
}

.card:active {
    border-top-color: var(--borderbtm);
    border-left-color: var(--borderbtm);

    border-bottom-color: var(--bordertop);
    border-right-color: var(--bordertop);
}

.cardText{
    font-size: 29px;
    margin-left: 5px;
}

.wrapper{
    z-index: 1;
    width: 0px;
    display: none;
}

.item{
    list-style: none;
    display: flex;
    align-items: center;
    background: var(--bg);
    height: 15px;
    width: 15px;
    margin: 1px;
    justify-content: center;
    margin-left: -2px;
    transition: 0.2s ease;

    border: 2px solid;

    border-top-color: var(--bg);
    border-left-color: var(--bg);

    border-bottom-color: var(--borderbtm);
    border-right-color: var(--borderbtm);
}

  .textNotPaid{
    color: var(--bordertop);
  }

  .textArchive{
    opacity: 50%;
    -webkit-filter: grayscale();
    filter: grayscale();
  }

  .cardArchive{
    -webkit-filter: grayscale();
    filter: grayscale();
  }

  .loadingStyle{
    height: 100%;
    width: 100%;
    opacity: 50%;
    filter: grayscale();
  }

  .loadingCardStyle{
    width: 38px;
    height: 35px;

    border: 3.5px solid;

    border-top-color: var(--bordertop);
    border-left-color: var(--bordertop);

    border-bottom-color: var(--borderbtm);
    border-right-color: var(--borderbtm);

    position: relative;

    margin: 4px;

    overflow: hidden;
  }