.commissionInfo {
    width: 100%;
    height: 180px;
    /* padding-top: 150px; */
    padding-left: 11px;
    padding-right: 15px;
    padding-top: 13px;
}
.nameText{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: -3px;
    margin-top: -7px;
    user-select: none;
}

.noteText{
    color: var(--bordertop);
    white-space: nowrap;
    overflow: hidden;
}

.formatTextSize{
    font-size: 16px;
    line-height: 14px;
    opacity: 60%;
    user-select: none;
}

.subText{
    font-size: 13px;
    user-select: none;
}

.subText:active{
    color: var(--bordertop);
}

.imgStyle{
    min-width: 94px;
    min-height: 94px;
    max-width: 94px;
    max-height: 94px;
    background-color: white;
    
    border: 4px solid;

    border-top-color: var(--bordertop);
    border-left-color: var(--bordertop);

    border-bottom-color: var(--borderbtm);
    border-right-color: var(--borderbtm);

    user-select: none;

    margin-right: 4px;
    cursor: pointer;


}

.imgStyle:active, .emailBtn:active{
    border-top-color: var(--borderbtm);
    border-left-color: var(--borderbtm);

    border-bottom-color: var(--bordertop);
    border-right-color: var(--bordertop);
}

.clientInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 94px;
}

.emailButtonContainer{
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dueInfo{
    color: var(--bordertop);
    text-align: right;
    user-select: none;
}

.clientText{
    margin-left: 3px;
    margin-top: 3px;
}

.textArchive{
    opacity: 50%;
    -webkit-filter: grayscale();
    filter: grayscale();
  }

.emailBtn{
    width: 53px;
    height: 35px;

    margin-top: 7px;

    background-color: var(--bordertop);
    color: rgba(255, 255, 255, 0.719);

    border: 3.5px solid;

    border-top-color: var(--bordertop);
    border-left-color: var(--bordertop);

    border-bottom-color: var(--borderbtm);
    border-right-color: var(--borderbtm);

    user-select: none;

    text-align: center;
    vertical-align: middle;
    line-height: 28px;

    font-size: 20px;

    opacity: 0.8;
    cursor: pointer;
}

.emailBtn:hover{
    -webkit-filter: hue-rotate(35deg);
    filter: hue-rotate(35deg);
}

.todoCountText{
    margin-top: 6px;
    font-size: 23px;
    margin-left: -5px;
    letter-spacing: 1px;
    user-select: none;
}

.todoCountText:active{
    color: var(--bordertop);
}

.buttonText {
    margin-top: 2px;
    height: 90%;
    opacity: 80%;
    transition: .1s ease;
  }
  .buttonText:hover{
    height:95%;
  }


  .textNotPaid{
    color: var(--accent);
  }

  .loadingStyle{
    height: 100%;
    width: 100%;
    opacity: 70%;
  }

  .loadingCardStyle{
    min-width: 94px;
    min-height: 94px;
    max-width: 94px;
    max-height: 94px;

    border: 4px solid;

    border-top-color: var(--bordertop);
    border-left-color: var(--bordertop);

    border-bottom-color: var(--borderbtm);
    border-right-color: var(--borderbtm);

    margin-right: 4px;
    cursor: pointer;

  }

.commissionImageStyle {
    width: 86px;
    height: 86px;
    user-select: none;
    margin-right: 4px;
    cursor: pointer;
    object-fit: cover;
  }

  .wrapper{
    z-index: 9999;
    position: absolute;
    text-align: center;
}

.item{
    color: var(--accent);
    display: flex;
    vertical-align: auto;
    align-items: center;
    background: var(--bg);
    height: 25px;
    width: 25px;
    border-radius: 15px;
    justify-content: center;
    transition: 0.5s ease;
    padding: 0px;
    margin: 0px;

    border: 2px solid;
    border-color: var(--bordertop);
}

.item:hover{
    filter: grayscale();
  }

.placeholderText {
    background: none;
    border: none;
    color: var(--bordertop);
}

input::placeholder {
    color: var(--bordertop);
  }