.titlebarContainer {
    width: 100%;
    height: 36px;

    z-index: 999;
    -webkit-app-region: drag;
    cursor: grab;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;

    background-color: var(--accent);
    border-bottom-color: var(--borderbtm);
    border-bottom: solid;

    top: 0;
    left: 0;
}

.btns {
    display: flex;

}

.icon {
    width: 40px;
    padding: 10px;
}

.exit {
    width: 22px;

    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);

    background-color: var(--bordertop);

    border: 4px solid;

    border-top-color: var(--bg);
    border-left-color: var(--bg);

    border-bottom-color: var(--borderbtm);
    border-right-color: var(--borderbtm);

    margin-right: 4px;
}

.text{
    FONT-SIZE: 27px;
    padding-left: 4px;
    padding-bottom: 3px;
}