:root {
    --bg: #e2cbca;
    --bordertop: #d09090;
    --borderbtm: #715858;
    --accent: #e78384;
  }

.titlebarContainer {
    width: 98%;
    height: 30px;
    position: fixed;
    z-index: 999;
    -webkit-app-region: drag;
    cursor: grab;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;

    background-color: var(--accent);
    border-bottom-width: 3px solid;
    border-bottom-color: var(--borderbtm);

    top: 0;
    left: 0;

    margin-left: 3px;
    margin-top: 3px;
}

.btns {
    display: flex;

}

.icon {
    width: 40px;
    padding: 10px;
}

.exit {
    width: 20px;

    background-color: var(--bordertop);

    border: 3px solid;

    border-top-color: var(--bg);
    border-left-color: var(--bg);

    border-bottom-color: var(--borderbtm);
    border-right-color: var(--borderbtm);

    -webkit-filter: grayscale();
    filter: grayscale();

    margin-right: 4px;
}
