*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #FF78A0;
  border-radius: 5px;
}

ul {
  list-style: none;
}


.app-container {
  position: relative;
  min-height: 100vh; 
  background-image: url("../../../assets/appbg1.png");
  background-position: center;
  background-attachment: fixed; 
  background-size: cover; 
  overflow: hidden; 
  display: flex;
  align-items: center;
  flex-direction: column;
}